<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

  	<title>Celestine Omin &mdash; /dev/null</title>
  	<meta name="description" content="Celestine Omin - Software Engineer | Tech Aficionado | Speaker">
  	<meta name="author" content="Celestine Omin">

  	<link rel="stylesheet" href="/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/css/style.css">

  	<!--[if lt IE 9]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  	<![endif]-->
</head>

<body>
	<header>
		<div class="container">
			<a class="navbar-brand" href="/">
	    		{{ site.name }}
			</a>
		</div>
	</header>
	<div class="container">

		<div class="col-md-4">
			<div class="sticky">
				I'm Celestine Omin.<br> I build for the web ... mobile someday.<br>

				<br><br>
				<h3>Around the Web</h3>
				Twitter: <a href="http://twitter.com/cyberomin" target="_blank">@cyberomin</a><br>
				GitHub: <a href="http://github.com/cyberomin" target="_blank">cyberomin</a>

				<br><br>
				<h3>Opensource Projects</h3>
				<a href="http://nsefinance.com/" target="_blank">NSEFinance</a>

				<br><br>
				<h3>Technologies</h3>
				<span class="label label-info">GIT</span>
				<span class="label label-info">Python</span>
				<span class="label label-info">jQuery</span>
				<span class="label label-info">Redis</span>
				<span class="label label-info">Nginx</span>
				<span class="label label-info">*nix</span>
				<span class="label label-info">MySQL</span>
				<span class="label label-info">PHP</span>
			</div>
		</div>
		<div class="col-md-8">

			{{ content }}
		</div>

	<!--<p></p><br>
	I'll love to hear from you<br>
	<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'cyberomin'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

		</div>
	</div>
	
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'cyberomin'; // required: replace example with your forum shortname

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function (){
	        var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
	        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	    }());
    </script>!-->
</body>
</html>