<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

  	<title>Celestine Omin &mdash; /dev/null {{ page.title }}</title>
  	<meta name="description" content="Celestine Omin - Software Engineer | Tech Aficionado | Speaker">
  	<meta name="author" content="Celestine Omin">

  	<link rel="stylesheet" href="/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/css/style.css">
  	<link rel="stylesheet" href="/css/syntax.css">

  	<!--[if lt IE 9]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  	<![endif]-->
</head>

<body>
	<header>
		<div class="container">
			<a class="navbar-brand" href="/">
	    		{{ site.name }}
			</a>
		</div>
	</header>
	<div class="container">

		<div class="col-md-4">
			<div class="sticky">
				I'm Celestine Omin.<br> I build for the web ... mobile someday.<br>

				<br><br>
				<h3>Around the Web</h3>
				Twitter: <a href="http://twitter.com/cyberomin" target="_blank">@cyberomin</a><br>
				GitHub: <a href="http://github.com/cyberomin" target="_blank">cyberomin</a>

				<br><br>
				<h3>Opensource Projects</h3>
				<a href="http://nsefinance.com/" target="_blank">NSEFinance</a>

				<br><br>
				<h3>Technologies</h3>
				<span class="label label-info">GIT</span>
				<span class="label label-info">Python</span>
				<span class="label label-info">jQuery</span>
				<span class="label label-info">Redis</span>
				<span class="label label-info">Nginx</span>
				<span class="label label-info">*nix</span>
				<span class="label label-info">MySQL</span>
				<span class="label label-info">PHP</span>
			</div>
		</div>
		<div class="col-md-8">

			{{ content }}
		</div>

</body>
</html>